<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    Make some choices for a super fun game, you {{ person }} you:
    <br>
    <br>
    <form action="/madlib">
        <label><h2>PICK A COLOR YOU FOOL!!!!!!!!!!!!!</h2>
                {% for color in colors %}
                    <input type="radio" name="color" value="{{ color }}">{{color}}
                {% endfor %}
        </label>
        <br>
        <br>
        <label><h2>WRITE US A NAME!!!!!11!!!</h2>
            <input type="text" name="name">
        </label>
        <br>
        <br>
        <label><h2>WE DEMAND THE VERY BEST ADJECTIVE YOUR PUNY BRAIN CAN THINK OF!!!@!!!!</h2>
            <input type="text" name="adjective">
        </label>
        <br>
        <br>
        <label><h2>A NOUN IS A PERSON, PLACE, OR THING. TYPE A NOUN, YOU SCUMMY PLEBE!!!!$%$%!!!</h2>
            <input type="text" name="noun">
        </label>
        <br>
        <br>

        <input type="submit">
    </form>

</body>

</html>

